<form [formGroup]="applyForm" (submit)="submitForm()">
  @if (step() === 0) {
  <input type="date" formControlName="birthday">
  }
  @if (step() === 1) {
  <h1>Ou vous situez-vous ?</h1>
  <div>
    <input type="number" formControlName="citycode">
    <input type="text" formControlName="cityname">
  </div>
  }
  <p>{{ step() }}</p>
  <button type="submit">
    Next
  </button>

  <button (click)="nextStep()">Next step</button>
  <button [disabled]="step() === 0" (click)="prevStep()">Prev step</button>
</form>
